/* -----------------------CLASSES-PRINCIPAIS--------------------CLASSES-PRINCIPAIS--------------------CLASSES-PRINCIPAIS-------------------------------------------------------------------------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0  ;
}
.container {
    display: grid;
    grid-template-rows: 10vh 85vh 10vh;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
    grid-row: 1/2;
    background-color: rgba(254, 145, 76, 255) ;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: rgba(254, 145, 76, 255);
}


footer {
    background-color: rgba(254, 145, 76, 255);
    
}


/* -----------------------SOMENTE-HEADER--------------------SOMENTE-HEADER--------------------SOMENTE-HEADER-------------------------------------------------------------------------------------------------------------------------------*/

header img {
    width: 19%;
    margin-left: 20px;
}









                                                
/* -----------------------SOMENTE-MAIN--------------------SOMENTE-MAIN--------------------SOMENTE-MAIN-------------------------------------------------------------------------------------------------------------------------------*/

.card-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 3fr 1fr;
    border-radius: 10px;
    grid-row: 1/4;
    grid-column: 2/3;
    background-color: white;
}

.top-card {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.card-input {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-column: 2/3;
    grid-row: 2/3;
}

.card-input input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    width: 300px;
    height: 50px;
    outline: none;
}


.mid-card {
    
    display: flex;
    justify-content: center;
    
}

.mid-card-2 {
    display: flex;
    justify-content: end;
    
}

.card-input button {
    width: 300px;
    height: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: rgb(201, 201, 201);
    background-color: white;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.card-input button:hover {
    border: 1px solid black;
    color: black;
    transition: all 0.3s ease;
}

.bot-card {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 3/4;
    grid-column: 2/3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.bot-card:hover {
    color: rgba(254, 145, 76, 255);
    transition: all 0.3s ease;
}


/* -----------------------RESPONSIVIDADE--------------------RESPONSIVIDADE--------------------RESPONSIVIDADE-------------------------------------------------------------------------------------------------------------------------------*/

@media screen and  (max-device-width: 900px) {
    
    main {
        display: flex;
        justify-content: center;
        
    }


    .container {
        grid-template-rows: 68vh;
    }

    header {
        display: none;

    }

    footer {
        display: none;
    }
}
