* {
    margin: 0;
    padding: 0;
}



main {
    background-image:url(./img/man-1718099_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

footer {
    background-color: white;
}

.container {
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
    
}


.header-grid {
    display: grid;
    grid-template-columns: 15vw 70vw 15vw;
}

.icone {
    margin-right: 5px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.formatar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(254,145,76,255);
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 5px ;
    margin-bottom: 5px ;
}

.formatar-header:hover {
    color: white;
    transition: all 0.8s ease;
    background-color: rgba(254,145,76,255) ;
}

.formatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.efeito {
    border: none;
    color: rgba(254,145,76,255);
    padding: 0;
    margin: 0;
    font-size: 17px;
    position:relative;
    cursor: pointer;
    transition: all 0.5s ease;
}

.efeito-1 {
    background: white;
}

.efeito-1:before {
    content: '';
    position: absolute;
    top: 26px;
    left: 0px;
    width: 0px;
    height: 3px;
    background: rgba(254,145,76,255);
    transition: all 0.5s ease;
}

.efeito-1:hover::before {
    width: 100%;
}